
<div class="row containerDiv">
  <div class="col-sm-6">
    <input type="text" placeholder="Name" [(ngModel)]="userModel.name"  class="form-control marginBelow"/>


    <input type="number" placeholder="Number" [(ngModel)]="userModel.age"  class="form-control marginBelow"/>
    <input type="number" placeholder="Score" minlength="0" maxlength="100" [(ngModel)]="userModel.score"  class="form-control marginBelow"/>
    
    <select name="status" id="status" class="form-control" [(ngModel)]="userModel.status">
      <option value="Pass">Pass</option>
      <option value="Toppers">Toppers</option>
      <option value="Winners">Winners</option>
    </select>
    <br><br>
    <button (click)="create(userModel)" *ngIf="!toggle" class="btn btn-primary  btn-block">Add</button>
    <button (click)="update(userModel)" *ngIf="toggle" class="btn btn-success  btn-block">Update</button>
  </div>

</div>

<table class="table" *ngIf="users.length">
    <thead>
      <th>Name</th>
      <th>Age</th>
      <th>Score</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let x of users">
  
        <td>{{x.name}}</td>
        <td>{{x.age}}</td>
        <td>{{x.score}}</td>
        <td>{{x.status}}</td>
        <td>
            <button (click)="delete(x)" class="btn btn-danger">Delete</button>
            <button (click)="edit(x)" class="btn btn-warning">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  
